@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

:root {
    --bright-green: #CAE155;
    --dark-green: #325100;
    --light-blue: #CCE6FF;
    --meta-blue: #0064E0;

    --pale-green: #ECF5BD;
    --pale-grey: #F1F4F7;
    --pale-blue: #EAF4FF;

    --line: #718495;
    --body-text: #63788A;
    --heading-text: #344854;
    --white: #ffffff;
}

/* -----------------
     Typography 
-------------------- */

h1, h2, h3, h4, h5, h6 {
    font-family: 'Work Sans', sans-serif;
    font-weight: 500;
    color: var(--heading-text);
}

h1 {
    font-size: 50px;
    line-height: 58px;
}

h2 {
    font-size: 35px;
}

h3 {
    font-size: 27px;
}

h4 {
    font-size: 20px;
}

p, body {
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    color: var(--body-text);
    font-size: 16px;
    line-height: 21px;
}

/* -----------------
       Layout
-------------------- */

@media screen and (min-width: 1024px) {

    nav {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        color: var(--heading-text);
    }
    
    nav ul {
        flex-direction: row;
        gap: 30px;
    }

    .col2 {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 120px;
    }

    .collapse_header {
        flex-direction: row;
     }

}

nav {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: baseline;
    color: var(--heading-text);
}

nav ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
    padding-inline-start: 0;
    padding: 30px 0;
}

footer nav, footer nav ul {
    align-items: center;
    padding-top: 0;
}

button.btn-primary {
    display: flex;
    gap: 20px;
    align-items: center;
    background: var(--light-blue);
    border: 2px solid var(--heading-text);
    padding: 15px 20px;
    border-radius: 0;
    color: var(--heading-text);
}

button.btn-primary:hover {
    background: var(--bright-green);
    border-color: var(--heading-text);
}

button.btn-icon {
    background: none;
    border: none;
}

header {
    background: var(--pale-grey);
}

section {
    width: 80%;
    margin: 8vh auto;
}

section.full_width {
    width: 100%;
}

img {
    width: 100%;
}

.col2 {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.cta_box img {
    width: 130px;
}

.cta_box {
    border: 1.5px solid var(--line);
    margin-top: -2px;
}

.cta_box_text {
    padding: 20px;
}

button[aria-expanded=true] i.bi.bi-plus-lg, button[aria-expanded=false] i.bi.bi-dash-lg, button[aria-expanded=true] p.open, button[aria-expanded=false] p.close {
    display: none;
}

i {
    font-size: 22px;
}

.collapse_header {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.collapse_header_title {
    display: flex;
    justify-content: space-between;
    gap: 15px;
}

.collapse_header h3 {
    margin-block-end: 0;
}

.collapse_container {
    margin-top: 20px;
    padding-bottom: 20px;
}

.solving_text > *:not(:first-child):not(:last-child),  .priorities_text > *:not(:first-child):not(:last-child) {
    border-bottom: 2px dashed var(--line);
}

.collapse_content {
    margin-top: 10px;
}

.icon_bg {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.person .icon_bg {
    align-items: end;
    overflow: hidden;
}

.icon_bg.green {
    background: var(--pale-green);
    color: var(--bright-green);
}

.icon_bg.blue {
    background: #CCE6FF;
    color: #8AC2FF;
}

.icon_bg.grey {
    background: var(--pale-grey);
    color: #CFD9E4;
}

.icon_bg i {
    font-size: 30px;
}

.person .icon_bg i {
    margin-bottom: -10px;
    font-size: 70px;
    overflow: hidden;
}

section#priorities {
background: var(--pale-blue);
padding: 50px 0 0;
}

.container,  .priorities_skynet .collapse_container {
width: 80%;
margin: 0 auto;
padding-bottom: 0;
}

.priorities_skynet {
background: var(--light-blue);
padding: 40px 0;
margin-top: 50px;
}

table {
    border: 2px solid var(--line);
    border-top: 0;
    margin-bottom: 20px;
}

table .table_header {
    background: var(--pale-grey);
    border-top: 2px solid var(--line);
    border-bottom: 2px solid var(--line);
    color: var(--heading-text);
}

tr {
    display: block;
    padding: 10px;
}

.team_text {
    background: var(--pale-grey);
    padding: 23px;
}

.team_text > *:not(:first-child):not(:last-child) {
    margin-bottom: 1em;
}

.person {
    display: flex;
    align-items: center;
    gap: 12px;
    overflow: hidden;
    height: 70px;
}

.person h5 {
    margin-block-start: 0.25em;
    margin-block-end: 0.25em;
}

.team_members {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

section#help {
    background: var(--pale-green);
    padding: 30px;
}

footer {
    background: var(--pale-grey);
    padding: 40px 0;
    border-top: 2px solid var(--line);
}